<main class="m-6 mt-24 sm:ml-32 sm:mt-56">

    <h1 class="text-center sm:text-left mb-8 sm:mb-4 text-5xl font-extrabold leading-tight text-gray-900">
        Probability Distributions
    </h1>

    <p class="text-center sm:text-left text-lg sm:text-2xl leading-relaxed text-gray-600">
        Uncover the world behind data and its patterns, visualizing possibilities through dynamic charts.
    </p>

    <div class="pt-6 text-center sm:text-left">
        <a class="bg-firstColor text-white rounded-lg py-3 px-6 inline-block font-semibold 
                 transition-all duration-300 transform hover:bg-secondColor hover:text-black hover:scale-105 
                 cursor-pointer focus:ring-2 focus:ring-offset-2 focus:ring-secondColor" aria-label="Start Exploring"
            (click)="onStartButton($event)">
            Start
        </a>
    </div>


</main>