<div class="rounded-lg bg-white shadow-lg p-6 sm:m-4">
    <h2 class="text-2xl font-semibold text-gray-800 mb-6">{{ distribution!.name }}</h2>
    
    <ul class="flex flex-wrap gap-4" *ngIf="parametersEntries.length > 0">
        <li *ngFor="let param of parametersEntries" class="w-full sm:w-[48%]">
            <label class="block font-semibold text-gray-700 mb-2">{{ param.key }}:</label>
            <input type="number"
                class="border border-gray-800 rounded p-2 w-full hover:scale-105
                 focus:border-gray-800 transition-transform duration-200"
                [placeholder]="param.value" 
                (input)="onInputChange($event, param.key)" />
        </li>
    </ul>

    <div class="mt-2 space-y-2">
        <div class="flex items-center">
            <label class="text-sm font-semibold text-gray-700 w-1/3">X:</label>
            <input type="number" required
                class="border border-gray-800 rounded p-2 w-2/3 hover:scale-105 focus:border-gray-800 focus:ring focus:ring-secondColor transition-transform duration-200"
                 (input)="onInputChangeXvalue($event)" />
        </div>

        <div class="flex items-center">
            <label class="text-sm font-semibold text-gray-700 w-1/3">Seleccione un intervalo:</label>
            <select
                class="border border-gray-800 rounded p-2 w-2/3 hover:scale-105
                 focus:border-gray-800 focus:ring focus:ring-secondColor transition-transform duration-200"
                (change)="onIntervalChange($event)">
                <option *ngFor="let key of getIntervalKeys()" [value]="distribution!.intervals[key]">{{ key }}</option>
            </select>
        </div>
    </div>

    <div class="mt-8 flex justify-end">
        <button type="submit"
            class="bg-firstColor text-white rounded-lg py-3 px-6 font-semibold transition-transform duration-300 hover:bg-secondColor hover:text-black hover:scale-105 focus:ring-2 focus:ring-offset-2 focus:ring-secondColor"
            (click)="sendParameters()" [disabled]="!isFormValid()">
            Enviar
        </button>
    </div>
</div>
