<div class="rounded-lg m-4 bg-white shadow-lg">
    <div class="sm:hidden">
        
        <button (click)="toggle()"
            class="w-full text-left p-4 bg-gray-300 flex justify-between items-center
             hover:bg-gray-400 transition-colors rounded-t-lg">
            <span>Información de Distribución</span>
            <span [ngClass]="{ 'rotate-180': isOpen }" class="transition-transform duration-300">
                &#9660;
            </span>
        </button>

        <div *ngIf="isOpen" class="p-4 text-sm">
            
            <div class="flex justify-between font-semibold">
                <a (click)="showSection('definition')"
                    class="border-b-2 border-transparent pb-1 cursor-pointer
                     hover:border-blue-600  duration-200 bg-slate-300 p-1 rounded-lg hover:scale-105 transition-all">
                    Definición
                </a>
                <a (click)="showSection('parameters')"
                    class="border-b-2 border-transparent pb-1 cursor-pointer
                     hover:border-blue-600  duration-200 bg-slate-300 p-1 rounded-lg hover:scale-105 transition-all">
                    Parámetros
                </a>
                <a (click)="showSection('applications')"
                    class="border-b-2 border-transparent pb-1 cursor-pointer
                     hover:border-blue-600  duration-200 bg-slate-300 p-1 rounded-lg hover:scale-105 transition-all">
                    Aplicaciones
                </a>
            </div>

            <div *ngIf="selectedSection === 'definition'" class="mt-4 max-h-52 overflow-y-auto">
                <p>{{ distribution?.description }}</p>
            </div>

            <div *ngIf="selectedSection === 'parameters'" class="mt-4 max-h-52 overflow-y-auto">
                <p>Parámetros:</p>
                    <ul>
                        <li *ngFor="let key of getParameterKeys()">
                            {{ key }}
                        </li>
                    </ul>
                <app-distribution-math [distributionFunction]="distribution!"></app-distribution-math>
            </div>

            <div *ngIf="selectedSection === 'applications'" class="mt-4 max-h-52 overflow-y-auto">
                <p>Aplicaciones: <br>{{ distribution?.applications }}</p><br>
                <p>Ejemplos:<br>{{ distribution?.examples }}</p>
            </div>
        </div>
    </div>

    <div class="hidden sm:block p-6">
        <div class="flex justify-between space-x-4 font-semibold">
            <a (click)="showSection('definition')"
                class="text-2xl border-b-2 border-transparent w-1/3 text-center pb-2 cursor-pointer hover:border-secondColor transition-all duration-200">
                Definición
            </a>
            <a (click)="showSection('parameters')"  
                class="text-2xl border-b-2 border-transparent w-1/3 text-center pb-2 cursor-pointer hover:border-secondColor transition-all duration-200">
                Parámetros
            </a>
            <a (click)="showSection('applications')"
                class="text-2xl border-b-2 border-transparent w-1/3 text-center pb-2 cursor-pointer hover:border-secondColor transition-all duration-200">
                Aplicaciones
            </a>
        </div>
    <div class="bg-slate-300 rounded-lg">
        <div *ngIf="selectedSection === 'definition'" class="mt-6 lg:max-w-[400px] lg:min-h-[100px] lg:max-h-[100px] overflow-y-auto p-4">
            <p class="text-xs">{{ distribution?.description }}</p>
        </div>

        <div *ngIf="selectedSection === 'parameters'" class="mt-6 lg:max-w-[400px] lg:min-h-[100px] lg:max-h-[100px] overflow-y-auto p-4">
            <p class="text-xs">Parámetros:</p>
                   
                <div class="text-xs" *ngFor="let key of getParameterKeys()">
                    {{ key }}
                </div>
                         
            <app-distribution-math [distributionFunction]="distribution!"></app-distribution-math>
        </div>

        <div *ngIf="selectedSection === 'applications'" class="mt-6 lg:max-w-[400px] lg:min-h-[100px] lg:max-h-[100px] overflow-y-auto p-4">
            <p class="text-xs">Aplicaciones: <br>{{ distribution?.applications }}</p><br>
            <p class="text-xs">Ejemplos:<br>{{ distribution?.examples }}</p>
        </div>
    </div>
        
    </div>
</div>
